# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
.parcel-cache/
.eslintcache

# OS/Editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env
.env
.env.*


